body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  border-top: 1px solid white;
}

header {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  padding: 60px;
}

.description {
  white-space: pre-wrap;
}

#time-blocks {
  margin-bottom: 2rem;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  padding: 15px;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  cursor: pointer;
  border-top: 1px solid white;
  font-size: 20px;
  padding: 25px;
}

.saveBtn:hover {
  background-color: #02758f;
  transition: all 0.3s ease-in-out;
}

.saveBtn i{
  display: block;
}

/* Show the event is being saved */
.saving {
  background-color: rgb(255, 255, 255, 0.5);
}

/* Revert to normal background via transition */
.saved {
 transition: background-color 0.3s ease-out; /* This should match the speed in the timeout function */
}

/* Remove rounded corners on narrow displays */
@media only screen and (max-width: 575px) {
  .time-block {
    border-radius: unset;
  }
  .saveBtn {
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
  }
}

/* Keep icon positioned correctly on very narrow display */
@media only screen and (max-width: 333px) {
  .saveBtn {
    padding: 20px 0px;    
  }
}